<div class = "outer_container"></div>
    <h1> Your Events </h1>
    <div class = "container">
        <div id="errorDivUserEvents"> {{errorAllEvents}}</div>
            <div id="allEvents" class = "scrollable_list">
                {{#each gameEventsList}}
                    <div id = {{this._id}}>
                        <div class="errorDivLeave">{{errorLeave}}</div>
                        <div class="errorDivEdit">{{errorCancel}}</div>
                        <div class="errorDivCancel">{{errorCancel}}</div>
                        <dl>
                            <dt>Title: </dt>
                            <dd>{{this.title}}</dd>
                            <dt>Status: </dt>
                            <dd class ="status">{{this.status}}</dd>
                            <dt>Sport: </dt>
                            <dd>{{this.sportCategory}}</dd>
                            <dt>Description: </dt>
                            <dd>{{this.description}}</dd>
                            <dt>Area: </dt>
                            <dd>{{this.area}}</dd>
                            <dt>Address: </dt>
                            <dd>{{this.address}}</dd>
                            <dt>Start Time:</dt>
                            <dd>{{this.startTime}}</dd>
                            <dt>End Time:</dt>
                            <dd>{{this.endTime}}</dd>
                            <dt>Minimum Number of Participants</dt>
                            <dd>{{this.minimumParticipants}}</dd>
                            <dt>Maximum Number of Participants</dt>
                            <dd>{{this.maximumParticipants}}</dd>
                            <dt>Current Number of Participants</dt>
                            <dd>{{this.currentNumberOfParticipants}}</dd>
                        </dl>
                        <form  method = 'GET' class = 'userEventsLeaveForm' gameEventId = {{this._id}} coordinatorId = {{this.userId}} userId = {{userId}}>
                            <button type = "submit" id="leaveButton">Leave Event</button>
                        </form>
                        <form  method = 'GET' class = 'userEventsCancelForm' gameEventId = {{this._id}} coordinatorId = {{this.userId}} userId = {{userId}}>
                            <button type = "submit" id="cancelButton">Cancel Event</button>
                        </form>
                        <form  method = 'POST' class = 'userEventsEditForm' gameEventId = {{this._id}} coordinatorId = {{this.userId}} userId = {{userId}}>
                            <button type = "submit" id="editButton"> Edit Event</button>
                        </form>
                    </div>
                {{/each}}
            </div>
    </div>
</div>
<script src="/public/js/userEvents.js"></script>