<div class = "outer_container"></div>
    <h1> Your Events </h1>
    <div class = "container">
        <p id="userId" class = {{userId}} hidden></p>
        {{#if error_flag}}
        <div id="errorDivUserEvents"> {{errorAllEvents}}</div>
        {{/if}}
            <div id="allEvents" class = "scrollable_list">
                {{#each gameEventsList}}
                    <div id = {{this._id}}>
                        <div class="errorDivLeave">{{errorLeave}}</div>
                        <div class="errorDivEdit">{{errorEdit}}</div>
                        <div class="errorDivCancel">{{errorCancel}}</div>
                        <dl>
                            <dt>Title: </dt>
                            <dd>{{this.title}}</dd>
                            <dt>Status: </dt>
                            <dd>{{this.status}}</dd>
                            <dt>Sport: </dt>
                            <dd>{{this.sportCategory}}</dd>
                            <dt>Description: </dt>
                            <dd>{{this.description}}</dd>
                            <dt>Area: </dt>
                            <dd>{{this.area}}</dd>
                            <dt>Address: </dt>
                            <dd>{{this.address}}</dd>
                            <dt>Start Time:</dt>
                            <dd>{{this.startTime}}</dd>
                            <dt>End Time:</dt>
                            <dd>{{this.endTime}}</dd>
                            <dt>Minimum Number of Participants</dt>
                            <dd>{{this.minimumParticipants}}</dd>
                            <dt>Maximum Number of Participants</dt>
                            <dd>{{this.maximumParticipants}}</dd>
                            <dt>Current Number of Participants</dt>
                            <dd>{{this.currentNumberOfParticipants}}</dd>
                        </dl>
                        <form  class = 'userEventsLeaveForm'>
                            <input type="hidden" class="gameEventId" name="gameEventId" value="{{this._id}}">
                            <input type="hidden" class="coordinatorId" name="coordinatorId" value="{{this.userId}}">
                           
                            <input type="hidden" class="status" name="status" value="{{this.status}}">
                            <button type = "submit" class="leaveButton">Leave Event</button>
                        </form>
                        <form class = 'userEventsCancelForm' >
                            <input type="hidden" class="gameEventId" name="gameEventId" value="{{this._id}}">
                            <input type="hidden" class="coordinatorId" name="coordinatorId" value="{{this.userId}}">
                           
                            <input type="hidden" class="status" name="status" value="{{this.status}}">
                            <button type = "submit" class="cancelButton">Cancel Event</button>
                        </form>
                        <form  class = 'userEventsEditForm'>
                            <input type="hidden" class="gameEventId" name="gameEventId" value="{{this._id}}">
                            <input type="hidden" class="coordinatorId" name="coordinatorId" value="{{this.userId}}">
                          
                            <input type="hidden" class="status" name="status" value="{{this.status}}">
                            <button type = "submit" class="editButton"> Edit Event</button>
                        </form>
                    </div>
                {{/each}}
            </div>
    </div>
</div>
<script src="/public/js/userEvents.js"></script>