<div>
    <section class = "eventInformation">
        <h1>{{title}}</h1>
        <div id="organizer">
            <a href = '/userEvents/{{event.userId}}'>{{event.organizerName}}</a>
        </div>
        <div id="status">
            {{event.status}}
        </div>
        <div id="sportCategory">
            {{event.sportCategory}}
        </div>
        <article id="description">
            <h1>About:</h1>
            <p>{{event.description}}</p>
        </article>
        <div class="address">
            {{event.address}}
        </div>
        <div class="startTime">
            {{event.startTime}}
        </div>
        <div class="endTime">
            {{event.endTime}}
        </div>
        <div class="minimumParticipants">
            {{event.minimumParticipants}}
        </div>
        <div class="maximumParticipants">
            {{event.maximumParticipants}}
        </div>
        <div class="currentNumberOfParticipants">
            {{event.currentNumberOfParticipants}}
        </div>
        <div id="participants">
        <ul>
            {{#each event.participants}}
            <li><a href="/userEvents/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
        </div>
        <div id="joinOrLeave">
            {{#if joined}}
                <form action="/viewGameEvent/{{event._id}}/leave" method="POST">
                <button type="submit">Leave Event</button>
                </form>
            {{else}}
                <form action="/viewGameEvent/{{event._id}}" method="POST">
                <button type="submit">Join Event</button>
                </form>
            {{/if}}
        </div>
    </section>
    <section class = "commentSection">
        <!-- Form for adding a comment -->
        {{#each comments}}
            <div class="comment">
                <h1><a href="/userEvents/{{this.userId}}">{{this.name}}</a>:</h1>
                <h2>{{{dateFormat "LLL" this.timestamp}}}</h2>
                <p>{{this.comment}}</p>
            </div>
        {{/each}}
    </section>
</div>