<div class="container pt-2 pb-5">
    <h1>
        Profile page - Edit profile name
    </h1>
    <form method="POST" id="profile-form">

    <label id="labelfirstname" for="firstName"> First name: </label>
    <input id="firstName" type="text" placeholder="Enter first name" name="firstName" value="{{firstName}}" />

    <label id="labellastname" for="lastName"> Last name: </label>
    <input id="lastName" type="text" placeholder="Enter last name" name="lastName" value="{{lastName}}" />

    {{!-- <label id="labelAddress"> Addrress: </label>
    <label id="labelStreet" for="street" lat="{{lat}}" lon="{{lon}}"> street: </label>
    <input id="street" type="text" placeholder="Enter street" name="street" value="{{street}}" />

    <select name="area" id="area" selectvalue="{{area}}" lat="{{lat}}" lon="{{lon}}">
        <option value="hoboken">Hoboken</option>
        <option value="jersey city">Jersey City</option>
        <option value="kearny" selected="selected">Kearny</option>
        <option value="union city">Union City</option>
    </select> --}}


    <button class="btnsave" id="saveSubmit">Save</button>
</form>

<ul id="error">
</ul>
</div>>



{{!--
<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" /> --}}
<script src="/public/js/userprofile.js"></script>
{{!-- <div id="osm-map"></div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script>
    var element = document.getElementById('osm-map');
    element.style = 'height:300px;';
    var map = L.map(element);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var target = L.latLng('40.7447411', '-74.0464602');
    map.setView(target, 15);

    let latInput = $('#area').attr('lat');
    let lonInput = $('#area').attr('lon');

    var target = L.latLng(latInput, lonInput);
    map.setView(target, 14);
    var theMarker = L.marker(target).addTo(map);

    //$('#street').on("keyup", function () {
    $('#street').on("keydown , keyup , change", function () {
        map.removeLayer(theMarker);
        $('#labelStreet').attr('lat', '');
        $('#labelStreet').attr('lon', '');
        loadmap();
    });
    $("#area").change(function (e) {
        map.removeLayer(theMarker);
        $('#labelStreet').attr('lat', '');
        $('#labelStreet').attr('lon', '');
        loadmap();
    });

    function loadmap() {
        //  map.removeLayer(theMarker);
        //  var theMarker = {};
        var street = $('#street').val();
        var area = $('#area').val();
        var requestConfig = {
            method: 'POST',
            url: '/user/map',
            contentType: 'application/json',
            data: JSON.stringify({ street: street, area: area }),
            cache: false
        };

        $.ajax(requestConfig).then(function (responseMessage) {
            if (responseMessage.message != "Error") {
                if (street.trim() == "") {
                    if (theMarker != undefined) {
                        map.removeLayer(theMarker);
                    };
                }
                else {
                    if (theMarker != undefined) {
                        map.removeLayer(theMarker);
                    };
                    map.removeLayer(theMarker);
                    var target = L.latLng(responseMessage.message.lat, responseMessage.message.lon);
                    map.setView(target, 14);
                    theMarker = L.marker(target).addTo(map);
                    $('#labelStreet').attr('lat', responseMessage.message.lat);
                    $('#labelStreet').attr('lon', responseMessage.message.lon);
                }
            }
            else {
                if (theMarker != undefined || theMarker == {}) {
                    map.removeLayer(theMarker);
                };
            }

        })
            .catch(function (response) {
                if (theMarker != undefined || theMarker == {}) {
                    map.removeLayer(theMarker);
                };
            });
    }
</script> --}}