<div class="container">
  <h1>Signup</h1>
  <div class="alert alert-danger mt-2 form-group" id="errordiv">
    <ul id="error" class="m-0 text-left">
    </ul>
  </div>
  <form class="form-horizontal signup-form" method="POST" id="signup-form">
    <div class="form-group d-flex">
      <label class="control-label col-sm-2" id="labelfirstname" for="firstName">First Name:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="firstName"
          value="{{firstName}}">
      </div>
    </div>
    <div class="form-group d-flex">
      <label class="control-label col-sm-2" id="labellastname" for="lastName"> Last Name: </label>
      <div class="col-sm-5">
        <input class="form-control" id="lastName" type="text" placeholder="Enter last name" name="lastName"
          value="{{lastName}}" />
      </div>
    </div>
    <div class="form-group d-flex">
      <label class="control-label col-sm-2" id="labelemail" for="email"> Email: </label>
      <div class="col-sm-5">
        <input class="form-control" id="email" type="email" placeholder="Enter email" name="email" value="{{email}}" />
      </div>
    </div>
    <div class="form-group d-flex">
      <label class="control-label col-sm-2" id="labelPassword" for="password"> Password: </label>
      <div class="col-sm-5">
        <input class="form-control" id="password" type="password" placeholder="Enter password" name="password"
          value="{{password}}" />
      </div>
    </div>
    <div class="form-group d-flex">
      <label class="control-label col-sm-2" id="labelAddress">Address:</label>
      <div class="col-sm-3">
        <select class="form-control" name="area" id="area">
          <option value="none" selected disabled hidden>Choose your area</option>
          <option value="hoboken">Hoboken</option>
          <option value="jersey city">Jersey City</option>
          <option value="kearny">Kearny</option>
          <option value="union city">Union City</option>
        </select>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="street" placeholder="Enter street" name="street" value="{{street}}">
      </div>
    </div>
    <div class="event-maps row">
      <div class="col-md-2">
        <label id="labelStreet" hidden for="street">Street</label>
      </div>
      <div class="col-md-7">
        {{> (lookup . 'partial') }}
      </div>
    </div>
    <div class="form-group row d-flex pb-4">
      <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" id="signupSubmit" class="btn btn-primary">Sign up</button>
      </div>
      <div class="justify-content-center links col-sm-10 pt-1">
        Already have an account? <a href="/user/login" class="ml-2 adjust-contrast1"> Click here to Log-in</a>
      </div>
    </div>
  </form>
</div>
<script src="/public/js/signup.js"></script>